/* Основной текст #000000 */
/* Вторичный цвет rgba(0,0,0,0.8) */
/* Белый #ffffff */
/* Акцент #18A0FB */
/* Вторичный цвет фона #F5F5F5 */
:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-colot: #000;
  --accent: #18a0fb;
  --primary-white-color: #fff;
  --secondary-font-color: #f5f5f5;
}
.page {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Montserrat, sans-serif;
  letter-spacing: -0.015em;
  font-size: 18px;
  line-height: 1.67;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid black;
}

/* Logo */
.logo {
  color: var(--title-text-colot);
  font-family: Comfortaa, cursive;
  font-size: 28px;
  line-height: 1.14;
  text-decoration: none;
}
.logo:hover {
  color: var(--accent);
}

/* Page header */
.page.header {
  background-color: #ccc;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid black;
  width: 1440px;
}

/* Site nav */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-nav a {
  color: var(--accent);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-text-colot);
}
.site-nav .link.current {
  color: var(--title-text-colot);
}

/* Hero section */

.hero {
  text-align: center;
}

.hero-title {
  color: var(--title-text-colot);
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 1.43;
  outline: 1px solid black;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
}

/* Advantages */

/* .section {
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid black;
  width: 1440px;
  padding-bottom: 120px;
  padding-top: 120px;
} */

.section.no-padding {
  padding-bottom: 0;
  padding-top: 0;
}

.section-title {
  color: var(--title-text-colot);
  font-weight: 400;
  font-size: 48px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 60px;
}

.section-title.centered {
  text-align: center;
  margin-bottom: 30px;
}

.section-description {
  font-size: 36px;
  line-height: 1.39;
  margin-bottom: 80px;
  margin-top: 0;
}

.section {
  padding-bottom: 120px;
  padding-top: 120px;
}

.join-us {
  margin-top: 0;
  margin-bottom: 0;
}

/* Features & Examples */
.feature-list .title,
.work-list .title {
  color: var(--title-text-colot);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 24px;
}

.work-list.item {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--primary-white-color);
}

.work-list > .item:nth-child(2n) {
  background-color: var(--secondary-font-color);
}

.work-list p,
.feature-list p {
  margin-top: 0;
  margin-bottom: 32px;
}

.feature-list .link {
  color: var(--accent);
}

/* Button */
.button {
  border-radius: 6px;
  border: 1px solid transparent;
  padding: 11px 34px;
  min-width: 130px;
  color: var(--title-text-colot);
  background-color: var(--primary-white-color);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}
.button.primary {
  color: var(--primary-white-color);
  background: var(--accent);
}
.button.secondary {
  color: var(--accent);
  background-color: var(--primary-white-color);
  border-color: var(--accent);
}

/* List */
.list {
  text-decoration: none;
}
