/* Основной текст #000000 */
/* Вторичный цвет rgba(0,0,0,0.8) */
/* Белый #ffffff */
/* Акцент #18A0FB */
/* Вторичный цвет фона #F5F5F5 */
:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-colot: #000;
  --accent: #18a0fb;
  --primary-white-color: #fff;
}
.page {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Montserrat, sans-serif;
  letter-spacing: -0.015em;
  font-size: 18px;
  line-height: 1.67;
}

/* Logo */
.logo {
  color: var(--title-text-colot);
  font-family: Comfortaa, cursive;
  font-size: 28px;
  line-height: 1.14;
  text-decoration: none;
}
.logo:hover {
  color: var(--accent);
}

/* Site nav */
.list {
  list-style: none;
}
.site-nav a {
  color: var(--accent);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-text-colot);
}
.site-nav .link.current {
  color: var(--title-text-colot);
}

/* Hero section */
.hero-title {
  color: var(--title-text-colot);
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 1.43;
  text-align: center;
}

/* Advantages */
.section-title {
  color: var(--title-text-colot);
  font-weight: 400;
  font-size: 48px;
  line-height: 1.5;
}
.section-description {
  font-size: 36px;
  line-height: 1.39;
}

/* Features & Examples */
.feature-list .title,
.work-list .title {
  color: var(--title-text-colot);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}
.feature-list .link {
  color: var(--accent);
}

/* Button */
.button {
  color: var(--title-text-colot);
  background-color: var(--primary-white-color);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
}
.button.primary {
  color: var(--primary-white-color);
  background: var(--accent);
}
.button.secondary {
  color: var(--accent);
  background-color: var(--primary-white-color);
}

/* List */
.list {
  text-decoration: none;
}
